* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "nunito", sans-serif;
    color: white;
    background-color: #0C0C0C;
    overflow-x: hidden;
}

/* Hide scrollbar */
::-webkit-scrollbar {
    display: none;
}

.mainpage {
    margin: 0;
    padding: 0;
}
/* Landing Page Styling */
.home {
    background-image: linear-gradient(to bottom, transparent 90%, rgba(0, 0, 0, 1) 100%), url('../assets/images/home.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(43, 43, 43, 0.5);
    height: 8vh;
    width: 90vw;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 90px;
    margin: 0 auto;
}
.headerlogo {
    font-family: "Oregano", cursive;
    font-weight: 400;
    margin: 0 40px 0 40px;
    white-space: nowrap;
}
.headerlist {
    display: flex;
    list-style: none;
    margin-right: 100px;
    height: 100%;
    align-items: center;
    gap: 15px;
}
.headerlistchild {
    display: flex;
    height: 100%;
}
.headerlistchild a {
    padding: 0 30px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all 0.3s;
    border-radius: 90px;
}
.headerlistchild a:hover {
    background-color: #481E14;
    color: rgb(255, 87, 51);
    border-radius: 90px;
    outline: 1px solid rgba(234, 239, 0, 1);
    opacity: 0.6;
}
#headerfoto {
    height: 50vh;
    margin: 0 0 7vh 5vw;
    padding: 10px;
    background-color: rgba(43, 43, 43, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px 90px 30px 90px;
}
#headerintro {
    width: 50vw;
    margin: 10vh 0 0 17vw;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}
#jabatanintro {
    font: lighter 5vh 'Lora', serif;
}
#namaintro {
    font: 15vh "Oregano", cursive;
}
#deskripsiintro {
    font: lighter 3vh 'Lora', serif;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    width: 40%;
    margin: 2vh 0 0 2vw;
    padding-left: 1vw;
    border-left: 2px solid rgba(255, 255, 255, 0.315);
}
/* About Page Styling */
.about {
    display: flex;
    flex-wrap: wrap;
    padding: 5vh 5vw;
    background-color: #000000;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#aboutme {
    font: 10vh "Oregano", cursive;
    padding-right: 2.5vw;
    margin-right: 2.5vw;
    border-right: 2px solid rgba(255, 255, 255, 0.315);
    max-width: 30%;
}
#aboutmedescription {
    font: 5vh ;
    max-width: 70%;
    margin: auto 0;
}
#aboutmeproject {
    margin-left: auto;
}
/* Skill Page Styling */
.skill {
    display: flex;
    flex-wrap: wrap;
    padding: 5vh 5vw;
    background-color: #000000;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    justify-content: center;
}
#skillme {
    font: 10vh "Oregano", cursive;
    margin: 0 auto;
    width: 100vw;
    text-align: center;
}
.bingkaiskills {
    padding: 20px;
    background-color: rgba(43, 43, 43, 0.5);
    border-radius: 999px;
    outline: 1.5px solid rgba(255, 255, 255, 0.315);
    margin: auto auto;
}
.skills {
    height: 20vh;
    padding: 3vh;
}
/* Project Page Styling */
.skill {
    display: flex;
    flex-wrap: wrap;
    padding: 5vh 5vw;
    background-color: #000000;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    justify-content: center;
}
#projectme {
    font: 10vh "Oregano", cursive;
    margin: 0 auto;
    width: 100vw;
    text-align: center;
}
/* Comission Page Styling */
.comission {
    background-image: linear-gradient(to top, transparent 70%, rgba(0, 0, 0, 1) 100%), linear-gradient(to bottom, transparent 70%, rgba(0, 0, 0, 1) 100%), url('../assets/images/comission.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid rgba(255, 255, 255, 0.315);
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    justify-content: center;
}
#comissionme {
    font: 10vh "Oregano", cursive;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.komisi {
    width: 250px;
    margin: 1vw;
}
.atas {
    background-color: rgba(43, 43, 43, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    
}
.atas img {
    width: 100%;
}
.bawah {
    background-color: rgba(43, 43, 43, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    text-align: center;
    justify-content: center;
}
/* Footer Section Styling */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(43, 43, 43, 0.5);
    padding: 50px 20px 0px 20px;
    color: white;
    text-align: center;
    background-image: linear-gradient(to top, transparent 90%, rgba(0, 0, 0, 1) 100%),  linear-gradient(to bottom, transparent 80%, rgba(0, 0, 0, 1) 100%);
}
.footercontainer {
    display: flex;
    flex-direction: row;
    width: 30vw;
}
.footerlogo {
    display: flex;
    font-family: "Oregano", cursive;
    font-weight: 400;
    margin-left: 20px;
    width: 100%;
}
.footerlist {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    list-style: none;
    margin: 5vh 0 5vh 5vw;
}
.footerlist a {
    color: white;
    text-decoration: none;
}
.footerlist a:hover {
    color: #ff5733;
}
.footerlistchild {
    border: none;
}
#footerdescription {
    color: rgb(87, 87, 87);
    width: 50vw;
    padding-right: 19.9vw;
    align-self: center;
}
/* Social Media Icons */
.socialmedia {
    display: flex;
    padding-top: 20vh;
}
.socialicon img {
    margin: 5vh 0 0 2vw;
    width: 35px;
    transition: opacity 0.3s;
}
.socialicon:hover img {
    opacity: 0.7;
}
.socialmedia2 {
    display: flex;
    justify-content: space-between;
}
#socialmedia3 {
    display: flex;
    padding-left: 33vw;

}
.socialicon2 img {
    margin: 5px;
    padding: 5px;
    width: 40px;
    transition: opacity 0.3s;
}
.socialicon2:hover img {
    opacity: 0.7;
}
